html {
    background-image: url(../img/fotofon.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
  }

.foto {
    border-radius: 20px;
    box-shadow: 2px 1px 10px 3px rgb(255, 255, 255)
}

.btn2 {
  background: rgb(255, 174, 76);
  padding: 2px 2px;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  display: block;
  border: none;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5), inset 1px 2px 3px rgba(255, 255, 255, 0.63); /* 0px 2px 0px rgba(0, 0, 0 0.1); inset 0px 0px 20px rgba(0, 0, 0, 0.1)*/;
  transition-duration: 0.5s;
}

.btn2:hover {
  opacity: 0.7;
  box-shadow:inset 3px 3px 20px rgba(0, 0, 0, 0.5), inset 1px 2px 3px rgba(255, 255, 255, 0.63); 
} 
.con {
  position: fixed;
  right: 20px;
  bottom: 40px;
}